#ensure-cssload-0 {
  ignored-property: 'computed';
}

.animation {
  height: 100%;
  width: 100%;
}

.App {
  background: #1f2639;
  color: rgb(193, 197, 189);
  height: 95vh;
}

.bird {
  outline-color: rgb(255, 255, 255);
}

.content_col {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.content_row {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content_row>div {
  padding-left: 2rem;
}

.food {
  outline-color: rgb(0, 255, 128);
}

.title {
  padding-left: 5rem;
}

.render {
  height: 100%;
}

.stats {
  padding-left: 10%;
}

.table_label {
  text-align: right;
}

a {
  color: rgb(84, 177, 177);
}

td {
  padding: 0 15px;
}

